#recipes
  %h2 My Recipes
  %table
    %tbody
      %tr
        %td=link("Zhukov's Revenge")
        %td.notMobile Russian Imperial Stout
      %tr
        %td=link("Two-Hand Reel")
        %td.notMobile Irish Red Ale
      %tr
        %td=link("Brown Sugar Mustgo")
        %td.notMobile Some kinda crazy
