#recipes
  %h2 My Recipes
  %table
    %tbody
      %tr
        %td=link("Zhukov's Revenge")
        %td.notMobile Russian Imperial Stout
      %tr
        %td=link("Two-Handed Reel")
        %td.notMobile Irish Red Ale
