%h2 Brown Sugar Mustgo
%p
  This is a totally made up recipe. It is based on what I had leftover from other brew's and the fact that my wife 
  bought too much brown sugar for making christmas cookies. Fun thing here is that my local homebrew shop did not carry
  brown malt. So I bought 1lb of Maris Otter and roasted it in the oven at 350&deg; for 1 hour.

%p OG: Should be around 1.084 according to Beer Tools.

%h3 Mash Ingredients
%table
  =mash("Two-row", "10 lbs")
  =mash("UK Pale Ale", "8 oz")
  =mash("Home roasted Brown Malt", "1 lb")
  =mash("Caramel 40", "10 oz")
  =mash("Caramel 120", "6 oz")

%h3 Boil Additions
%table
  =hop("Kent Golding", "2 oz", "60 min", "5%")
  =hop("Fuggles", ".75 oz", "15 min", "4.1%")
  =hop("Kent Golding", ".75 oz", "0 min", "5%")

%hr

%h2 Brew Day 01-02-2011
%h3 Mash
%p
  %ul
    %li Nailed my mash in temp of 154&deg; and the temp is holding strong. 
    %li Pre-boil gravity is 1.020, around 61% efficiency which is shitty.
    %li Post boil gravity (including brown sugar) is 1.056, well short of what the calculations called for.
%h3 Boil
%p 
  %ul
    %li 
      Nothing eventful to report here. Other than getting burned a few times trying to get the 2lb bag of dark brown sugar
      into the kettle.
%p  
  Overall brew day went well. I think my efficiency problems are due to a lack of stirring. I only bothered to stir
  the mash like once in the hour it was resting. I was focused on not messing with the mash and maintaining temp and
  avoided opening the tun too much. Now that I know my heat can remain steady I'll stir a lot more next time.

