%h2 Easy Ryeder
%p
  Ryed up American Pale Ale with a touch of rye whiskey added to the boil.
  Half of this batch will be aged with medium-toast American oak soaked in
  Old Overholt Straight Rye Whiskey. The oak will get the rye whiskey soak for one week
  and then get added to the fermenter for a few weeks.

%p OG: 1.042

%h3 Mash Ingredients
%table
  =mash("2-Row Malt", "4 lbs")
  =mash("Pale Ale Malt", "4 lbs")
  =mash("Rye Malt", "3 lbs")
  =mash("Caramel Vienne", "10 oz")
  =mash("Caramel 20", "5 oz")

%h3 Boil Additions
%table
  =hop("Magnum",    "0.75 oz", "60 min", "13.7%")
  =hop("Centenial", "0.75 oz", "15 min", "10%")
  =hop("Cascade",   "0.75",    "5 min",  "5.4%")
  %tr
    %td Old Overholt Rye Whiskey
    %td 2 oz
    %td 30 min
    %td.notMobile 40%

%h3 Instructions
%p Mash at 154&deg;

%hr

%h2 Brew Day 01-29-2011

%h3 The Mash
%p
  Really well executed. Temp came in a little low, had to top it off with some boiling water.

%h3 The Boil
%p Straight 60 minute boil here. Dosed the brew with a bit of whiskey on a whim, we'll see how that turns out.

%h3 Gravity
%p 
  %ul
    %li Pre-boil 1.030
    %li Pre-pitching 1.038
