%p.indented
  Here you will find my notes on my most recent recipes and how they've turned out. I use
  =link("Beer Tools", "http://www.beertools.com/", :target => "_blank")
  for the Mac to dig into the science and numbers. Unfortunately that doesn't give me a real nice way to things that 
  happen during the process (mistakes), gravity measurements along the way, and notes on anything and everything else.

%p.indented
  Incidentally this is also a bit of a technology expirement. I'm currently building out this using mostly static
  content. The content is generated using
  =link("Staticmatic", "http://staticmatic.rubyforge.org/")
  which allows me to build out the html using Haml which is way nicer to use than html directly. Each of the recipes
  is essentially just a page in the app that I'll layout using partials for the common elements.
  In this expirement I'm essentially forgoing a database and all the other overhead since it's easy enough for me to edit
  the content directly and just push it out to a site.

%p.indented
  The layout of the site should also work well with mobile displays such as iPhones and Android devices. A lesser device
  (Blackberry) may not look as hot though. If you're using IE, you can go to hell. I really don't care if it works for
  you at all.
