.notMobile
  %p
    Here you will find my notes on my most recent recipes and how they've turned out. I use
    =link("Beer Tools", "http://www.beertools.com/", :target => "_blank")
    for the Mac to dig into the science and numbers. 
  
=partial('recipes')
