%h2 Two-Handed Reel
%p
  Another recipe out of
  =link("Brewing Classic Styles", "http://www.amazon.com/Brewing-Classic-Styles-Winning-Recipes/dp/0937381926/ref=sr_1_1?ie=UTF8&qid=1290894251&sr=8-1") << "."
  This time it is the Irish red ale recipe, "Ruabeior".
%p OG: 1.060

%h3 Mash Ingredients
%table
  =mash("Some Shit", "11.25 lbs")
  =mash("Caramel 40", "6 0z")
  =mash("Caramel 120", "6 oz")
  =mash("Roasted Barley", "6 oz")

%h3 Boil Additions
%table
  =hop("Kent Goldings", "1.25 oz", "60 min", "4.5%")


%h3 Yeast
%p Wyeast 1084 Irish Ale

%h3 Instructions
%p Mash at 154&deg;
%p Carbonate to 2.5 volumes

%hr

%h2 Brew Day 11-14-2010

%h3 The Mash
%p
  All in all this went well. Unfortunately I didn't start the sparge water early enough which left the mash going into 
  a 90 minute range. Also, the sparge water (due to the delay) wasn't hot enough. We hit just around 168&deg; in the mash
  tun when it should have been 170&deg;.

%h3 The Boil
%p Went with a 90 minute boil to try and bring up the caramelization and bring out a good red hue. We'll see how that works out.

%h3 Gravity
%p OG: Unknown (drunk), FG: 1.010
