%h2 Zhukov's Revenge
%p 
  Based on Czar's Revenge from
  =link("Brewing Classic Styles", "http://www.amazon.com/Brewing-Classic-Styles-Winning-Recipes/dp/0937381926/ref=sr_1_1?ie=UTF8&qid=1290894251&sr=8-1") << "."
  You'll need a really big ass mash tun to pull this off. We're talking about 24lbs of grain.
 
%h3 Mash Ingredients
%table
  =mash("Maris Otter", "24 lbs")
  =mash("Black Barley", "1.5 lbs")
  =mash("Special B", "1 lb")
  =mash("German Caramunich III", ".5 lbs")
  =mash("Pale Chocolate Malt", ".5 lbs")
  =mash("Chocolate Malt", ".5 lbs")

%h3 Boil Additions
%table
  =hop("Magnum", "1 oz", "60 min", "13%")
  =hop("Kent Goldings", "2 oz", "10 min", "4.5%")
  =hop("Kent Goldings", "1 oz", "1 min", "4.5%")

%h3 Mash Instructions
%p Mashed at 152&deg;
%p.note I totally screwed up the mash on this.
