%h2 Zhukov's Revenge
%p 
  Based on Czar's Revenge from
  =link_to_bcs
  You'll need a really big ass mash tun to pull this off. We're talking about 24lbs of grain.
%p OG: 1.092
 
%h3 Mash Ingredients
%table
  =mash("Maris Otter", "20 lbs")
  =mash("Black Barley", "1.5 lbs")
  =mash("Special B", "1 lb")
  =mash("German Caramunich III", ".5 lbs")
  =mash("Pale Chocolate Malt", ".5 lbs")
  =mash("Chocolate Malt", ".5 lbs")

%h3 Boil Additions
%table
  =hop("Magnum", "1 oz", "60 min", "13%")
  =hop("Kent Goldings", "2 oz", "10 min", "4.5%")
  =hop("Kent Goldings", "1 oz", "1 min", "4.5%")

%h3 Yeast
%p Wyeast 1056 American Ale

%h3 Instructions
%p Mash at 154&deg;
%p Carbonate to 2.0-2.5 volumes

%hr

%h2 Brew Day 09-26-2010
%h3 The Mash
%p 
  I totally screwed up the mash on this. I didn't use a calculator to figure out the mash and sparge water volumes
  and temperatures. My dough-in temp was way low. I kept adding hot water till I couldn't add any more. Once it was
  too full I started draining wort, boiling it, and putting it back in until I got my temp. Then I let it mash. A
  hacked up decoction mash almost.

%h3 Gravity
%p OG: 1.092, FG: 1.020

%h3 Bottled 10-10-2010
%p Primed using 3.4 oz of corn sugar

%h3 Tasting Notes
%ul 
  %li 
    %b 11-25-2010
    After almost 2 months in the bottle this beer is really coming in great. Huge roast flavor with just
    the right mouthfeel. Not syrupy sweet and not dry, right down the middle.
