$almost-black: #262626;

@mixin rounded {
  -moz-border-radius: 5px;
  border: {
    radius: 5px;
  }
}

@mixin centered-display {
  width: 920px;
  margin: 0px auto;
}

body {
  color: $almost-black;
  background: {
    color: $almost-black;
  }
  font: {
    family: helvetica, arial, freesans, clean, sans-serif;
    size: 13pt;
  }
}

#header {
  color: white;
  height: 50px;
  @include centered-display;
  margin: {
    bottom: 10px;
  }
  font-size: 12pt;
}

#main {
  min-height: 600px;
  height: 100%;
  background-color: white;
  @include centered-display;
  @include rounded;
}

#content {
  padding: {
    top: 5px;
    bottom: 5px;
    left: 20px;
    right: 20px;
  }
}

p.indented {
  text-indent: 1.0em;
}

td {
  padding-right: 10px;
}

p.note {
  background: {
    color: rgba(245,245,255, 0.9);
  }
  @include rounded;
}
